<% if RAILS_ENV == 'development' %><%= debug params %><% end %>

<% title "Voters" %>
<p>
<% form_tag( walklist_path, :method => "GET" ) do %>
	<%= label_tag :precinct %>
	<%= select_tag :precinct, options_for_select( Voter.precincts.insert( 0, '' ), params[:precinct] ) %> |
	<%= label_tag :contacted, "Not contacted" %>
	<%= check_box_tag :contacted, true, params[:contacted] %> |
	<%= label_tag :volunteer, "Volunteer contacted" %>
	<%= check_box_tag :volunteer, true, params[:volunteer] %> |
	<%= label_tag :literature, "Literature only" %>
	<%= check_box_tag :literature, true, params[:literature] %> |
	<%= submit_tag "Create Walklist", :name => nil %>
<% end %>
</p>
<% Voter.precincts.each do |p| %>
	<p>Precinct <%= p %>: <%= number_to_percentage( Voter.progress(p), :precision => 1 ) %></p>
<%end %>
