<% title "Voters" %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Precinct</th>
    <th>Age</th>
    <th>Phone</th>
  </tr>
  <% for voter in @voters %>
    <tr>
      <td><%=h voter.full_name %></td>
      <td><%=h voter.address %></td>
      <td><%=h voter.precinct %></td>
      <td><%=h voter.age %></td>
      <td><%=h voter.phone %></td>
      <td><%= link_to "Show", voter %></td>
      <td><%= link_to "Edit", edit_voter_path(voter) %></td>
    </tr>
  <% end %>
</table>

